<%layout("/layouts/boilerplate")%>

<div class="row">
    <div class="col-8 offset-2">
        <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <lable for="listing[title]" class="form-label">title</lable>
                <input name="listing[title]" placeholder="title" type="text" class="form-control"
                required>
                <div class="invalid-feedback">title should be valid</div>
            </div>
            <div class="mb-3">
                <lable for="listing[description]" class="form-label">description</lable>
                <input name="listing[description]" placeholder="description" type="text" class="form-control"
                required>
                <div class="invalid-feedback">description should be valid</div>
            </div>
            <div class="mb-3">
                <lable for="listing[image]" class="form-label">image</lable>
                <input name="listing[image]"  type="file" class="form-control" required>
            
                <div class="invalid-feedback">image should be valid</div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <lable for="listing[price]" class="form-label">price</lable>
                    <input name="listing[price]" placeholder="price" class="form-control"
                    required>
                    <div class="invalid-feedback">price should be valid</div>
                
                </div>
                <div class="mb-3 col-md-8">
                    <lable for="listing[country]" class="form-label">country</lable>
                    <input name="listing[country]" placeholder="country" type="text" class="form-control"
                    required>
                    <div class="invalid-feedback">country should be valid</div>
                
                </div>
            </div>
            <div class="mb-3">
                <lable for="listing[location]" class="form-label">location</lable>
                <input name="listing[location]" placeholder="location" type="text" class="form-control"
                required>
                <div class="invalid-feedback">location should be valid</div>
            
            </div>
            <button class="btn btn-dark add-btn">add</button>
        </form>
    </div>
</div>


   
